# Keep environment variables out of version control
.env
# keep these out!
**/node_modules/
# misc stuff
.DS_Store*
migrations/
test*
# generated .js files
*.js
# Keep all in local_modules
!local_modules/**/*