# Keep environment variables out of version control
**/.env

# Ignore generated js files
**/*.js
**/*.js.map

# keep these out!
**/node_modules/
**/local_modules/
**/sub_modules/

# Keep everything in these
#!**/local_modules/**
#!**/sub_modules/**

# misc stuff
.DS_Store*
migrations/
test*