[submodule "submodules/nanomsg"]
	path = submodules/nanomsg
	url = https://github.com/zboszor/node-nanomsg.git
[submodule "rank-lib"]
	path = submodules/rank-lib
	url = https://github.com/LotusiaStewardship/rank-lib.git
	branch = master
